.text-gray-50{
    color: $gray-50;
}
.text-gray-100{
    color: $gray-100;
}
.text-gray-200{
    color: $gray-200;
}
.text-gray-300{
    color: $gray-300;
}
.text-gray-400{
    color: $gray-400;
}
.text-gray-500{
    color: $gray-500;
}
.text-gray-600{
    color: $gray-600;
}
.text-gray-700{
    color: $gray-700 !important;
}
.text-gray-800{
    color: $gray-800;
}
.text-gray-900{
    color: $gray-900;
}
.text-accent-blue-900{
    color:$accent-blue-900 !important;
}
.text-blue-800{
    color:$blue-800 !important;
}
.text-blue-900{
    color:$blue-900 !important;
}
.text-blue-900{
    color:$blue-900 !important;
}
.text-yellow-700{
    color:$yellow-700 !important;
}
.border-bottom-gray-50{
    border-bottom: 1px solid $gray-50;
}

.border-bottom-gray-100{
    border-bottom: 1px solid $gray-100;
}

.border-bottom-blue-800{
    border-bottom: 1px solid $accent-blue-800;
}

.border-top-gray-100{
    border-top: 1px solid $gray-100;
}

.border-end-gray-100{
    border-right: 1px solid $gray-100;
}

.border-bottom-blue-600{
    border-bottom: 1px solid $blue-600;
}
.border-bottom-accent-blue-800{
    border-bottom: 1px solid $accent-blue-800;
}

.border-bottom-gray-100{
    border-bottom-color: $gray-100 !important;
}

.border-gray-50{
    border-color: $gray-50;
}
.border-gray-100{
    border-color: $gray-100;
}

.border-red-50{
    border-color: $red-50;
}

.bg-red-50{
    background-color: $red-50;
}

.bg-red-100{
    background-color: $red-100 !important;
}
.bg-red-600{
    background-color: $red-600 !important;
}
.bg-red-900{
    background-color: $red-900 !important;
}

.bg-blue-10{
    background-color: $blue-10 !important;
}

.bg-blue-500{
    background-color: $blue-500 !important;
}

.bg-blue-900{
    background-color: $blue-900 !important;
}

.bg-accent-blue-900{
    background-color: $accent-blue-900 !important;
}

.bg-gray-50{
    background-color: $gray-50 !important;
}

.bg-gray-100{
    background-color: $gray-100 !important;
}

.text-danger{
    color: $red-700 !important;
}
.text-red-600{
    color: $red-600 !important;
}
.text-red-900{
    color: $red-900;
}
.bg-red-50{
    background-color: $red-50;
}
.bg-yellow-50{
    background-color: $yellow-50;
}

.bg-yellow-600{
    background-color: $yellow-600 !important;
}

.text-yellow-650{
    color: $yellow-650 !important;
}
.bg-green-50{
    background-color: $green-50 !important;
}
.bg-green-100{
    background-color: $green-100 !important;
}
.text-green-600{
    color: $green-600 !important;

}
.bg-green-600{
    background-color: $green-600 !important;

}
